* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --corluz: white;
    --bg-url: url(./assets/bg-mobile.jpg);
    --stroke: rgb(255, 255, 255, 0.5);
    --surface:rgb(255, 255, 255, 0.05);
    --surfhove:rgba(0,0,0,0.02);
    --high:rgb(255, 255, 255, 0.2);
    --switchla-bg-url: url(./assets/moon-stars.svg);
}

.luz{
--corluz:black;
--bg-url: url(./assets/bg-mobile-light.jpg);
--stroke: rgba(0,0,0,0.5);
--surface:rgba(0,0,0,0.05);
--surfhove:rgba(7, 7, 7, 0.02);
--high: rgba(27, 27, 27, 0.1);
--switchla-bg-url: url(./assets/sun.svg);
}

body { background: var(--bg-url) no-repeat top center/cover ; 

}

body * {
    font-family: 'Inter' , sans-serif;
    color: var(--corluz);
}

#container {
    width: 360px ;
    margin: 56px auto 0px;
    padding: 0 24px;

}

#profile {
    text-align: center;
    padding: 24px;
}
#profile img {
    width: 112px;
}

#profile p{
font-weight:400;
line-height: 24px;
margin-top: 8px;
}

#switch {
    position: relative;
    width: 64px;
    margin: 0 auto;
}



.luz #switch button{
    right: 0%;
    left: initial;
}

#switch button{
    width: 32px;
    height: 32px;
    background: white var(--switchla-bg-url) no-repeat 
    center;
    top: 50%;
    border: 0;
    border-radius: 50%;
    top: 50%;
    left: 0%;
    position: absolute;
    z-index: 1;
    transform: translateY(-50%);
}

#switch span{
    display: block;
width: 64px;
height: 24px;
background-color: var(--surface);
border: 1px solid var(--stroke);
backdrop-filter: blur(4px);
border-radius: 9999px;
}


ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 0;
}
 ul li a {

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 16px 24px;
    background-color: var(--surface);
    border: 1px solid var(--stroke);

    border-radius: 8px;
    backdrop-filter: blur(4px);

    text-decoration: none;
    font-weight: 500;

    transition: all 0.5s;
}

ul li a:hover{

    background-color: var(--surfhove);
    border: 1px solid var(--corluz);


}

#social {
    display:flex;
    justify-content: center;
    gap: 16px;
    padding: 24px 0;

    font-size: 30px;

}

#social a{
display: flex;
align-items: center;
justify-content: center;
padding: 16px;
transition: all 0.3s;
border-radius: 50%;
}

 #social a:hover{
background-color: var(--high)

    }

    footer{
        padding: 24px 0;
        text-align: center;
        font-size: 14px;
    }